body {
    background: darkgreen;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.roulette__field {
    height: 100%;
    margin-top: 50px;
}

.roulette__list {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.roulette__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
    cursor: pointer; 
    width: 100%; 
    font-size: 25px;
}

.roulette__green-background {
    width: 100px;
    padding: 4px 4px;
    background: darkgreen;
    border: 2px solid white;
}

/* 
.roulette__item:not(:nth-child(12n)) {
    margin-right: 2px;
} */

.roulette__red {
    background-color: red;
}

.roulette__black {
    background-color: black;
}

.roulette__bet {
    border: 2px solid black;
    margin-top: 20px;
}

.roulette__button {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.roulette__form-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roulette__money {
    color: white;
    font-size: 50px;
}

.roulette__money-bet {
    margin-top: 20px;
    color: white;
    font-size: 50px;
}

.roulette__deal-wheel {
    /* задаём переменные блока */
    /* размеры колеса */
    --size: clamp(250px, 80vmin, 700px);
    /* настройки яркости и заливки фона секторов */
    --lg-hs: 0 3%;
    --lg-stop: 50%;
    --lg: linear-gradient(
        hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
        hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
        );
    /* добавляем позиционирование относительно других элементов */
    position: relative;
    /* подключаем сетку */
    display: grid;
    grid-gap: calc(var(--size) / 20);
    /* выравниваем содержимое блока по центру */
    align-items: center;
    /* задаём имена областей внутри сетки */
    grid-template-areas:
        "spinner"
        "trigger";
    /* устанавливаем размер шрифта */
    font-size: calc(var(--size) / 21);
}

.roulette__deal-wheel > * {
    grid-area: spinner;
}

.roulette__deal-wheel .roulette__btn-spin {
    grid-area: trigger;
    justify-self: center;
}

.roulette__spinner {
    /* добавляем относительное позиционирование */
    position: relative;
    /* подключаем сетку */
    display: grid;
    /* выравниваем всё по центру */
    align-items: center;
    /* добавляем элемент в сетку */
    grid-template-areas: "spinner";
    /* устанавливаем размеры */
    width: var(--size);
    height: var(--size);
    /* поворачиваем элемент  */
    transform: rotate(calc(var(--rotate, 25) * 1deg));
    /* рисуем круглую обводку, а всё, что не поместится, — будет скрыто за кругом */
    border-radius: 50%;
}

.roulette__spinner * {
    grid-area: spinner;
}

.roulette__prize {
    /* включаем «гибкую» вёрстку */
    display: flex;
    align-items: center;
    /* задаём отступы от краёв блока */
    padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
    /* устанавливаем размеры */
    width: 50%;
    height: 50%;
    /* устанавливаем координаты, относительно которых будем вращать текст */
    transform-origin: center right;
    /* поворачиваем текст */
    transform: rotate(var(--rotate));
    /* запрещаем пользователю выделять мышкой текст на секторах */
    user-select: none;
}

.roulette__btn-spin {
    color: white;
    background: black;
    border: none;
    /* берём размер шрифта такой же, как в колесе */
    font-size: inherit;
    /* добавляем отступы от текста внутри кнопки */
    padding: 0.9rem 2rem 1rem;
    /* скругляем углы */
    border-radius: 0.5rem;
    /* меняем внешний вид курсора над кнопкой на руку*/
    cursor: pointer;
}

.roulette__btn-spin:disabled {
    /* меняем внешний вид курсора */
    cursor: progress;
    /* делаем кнопку полупрозрачной */
    opacity: 0.25;
}