html {
    background: url(../../img/black-jack/phone.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: block;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 15px;
}

.card,
.card__deck {
    max-width: 155px;
    height: 220px;
    width: 100%;
    background-size: cover;
}

.card__deck {
    background: url(../../img/black-jack/main-deck.png) center no-repeat;
}

.field {
    display: flex;
    width: 100%;
    height: 33.33vh;
    flex: 1 1 0;
    justify-content: space-between;
    align-items: center;
}

.field__croupier {
    padding: 0 40px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.field__deck {
    justify-content: end;
}

.field__players {
    width: 70%;
    margin: 0 auto;
}

.players__cards {
    display: flex;
    width: 100%;
    position: relative;
}

.card__player {
    position: absolute;
    top: 0;
    left: 20%;
}

.start {
    width: 100px;
    height: 50px;
    color: black;
    background-color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.start:hover {
    background-color: rgb(151, 143, 143);
}

.opacity-on {
    opacity: 1;
}

.opacity-off {
    opacity: 0;
}