/* Main */

html {
    background: url(../../img/black-jack/phone.jpg) center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: block;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 0 15px;
}

.opacity-off {
    opacity: 0;
}

.heading {
    color: white;
    font-size: 50px;
}

.main__components {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.main__heading {
    text-transform: uppercase;
}

/* Cards */

.card,
.card__deck {
    max-width: 155px;
    height: 220px;
    width: 100%;
    background-size: cover;
}

.card__deck {
    background: url(../../img/black-jack/main-deck.png) center no-repeat;
}

/* Field */

.field {
    display: flex;
    width: 100%;
    flex: 1 1 0;
    justify-content: space-between;
    align-items: center;
}

.field__croupier {
    padding: 0 40px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 20vh;
}

.field__deck {
    justify-content: end;
    height: 20vh;
}

.field__players {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    justify-content: center;
}

/* Players */

.players__cards {
    display: flex;
    width: 100%;
    position: relative;
}

.card__player {
    position: absolute;
    top: 0;
    left: 20%;
    border-left: 0;
}

/* Start */

.start {
    width: 100px;
    height: 50px;
    color: black;
    background-color: #fff;
    font-size: 40px;
    cursor: pointer;
    margin: 0 auto;
}

.start:hover {
    background-color: rgb(151, 143, 143);
}

/* User */

.user {
    border: 2px dashed white;
    border-radius: 10%;
    padding: 15px 30px 10px 15px;
}

.user:not(:last-child) {
    margin-right: 15px;
}

.user__money,
.user__state,
.user__name {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Action */

.action__button {
    display: block;
    font-size: 25px;
    margin: 5px;
    padding: 2px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s linear,
    color .2s linear;
}

.action__button:hover {
    background-color: white;
    color: black;
}

.action__separate {
    display: flex;
    width: 100%;
    align-items: center;
}